<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
						
	

	 <bean id="dataSource" name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/testmysql?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC"/>
		<property name="user" value="root"/>
		<property name="password" value="root"/>
	</bean>

	
	<!-- 定义Hibernate的sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<!-- 在控制台输出SQL语句 -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- 格式化控制台输出的SQL语句 -->
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.release_mode">after_statement</prop>
			</props>
		</property>
		
		<!-- xml中classpath指的就是项目生成以后的classes文件夹，也就是Eclipse的src文件夹 -->
		<property name="mappingLocations">
			<value>classpath:testSSH/student/entity/Student.hbm.xml</value>
		</property>
	</bean>

	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- User bean -->
	<bean id="studentAction" class="testSSH.student.action.StudentAction">
        <property name="studentService" ref="studentService"></property>
    </bean>
	<bean id="studentService" class="testSSH.student.service.StudentServiceImpl">
        <property name="studentDao" ref="studentDao"></property>
    </bean>
    
    <bean id="studentDao" class="testSSH.student.dao.StudentDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    
	
</beans>